* {
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

textarea:focus, select:focus {
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

.logo {
  color: #22A6F1;
}

header {
  font-size: 14px;
  color: #989898;  
  width: 100%;
  min-width: 820px;
  height: 25px;
  background-color: #323233;
  display: flex;
  justify-content: space-between;
}

header nav {
  width: 430px;
  display: inline-block;
}

header ul {
  display: flex;
}

header ul li {
  font-size: 13px;
  color: #989898;  
  display: inline-block;
  text-align: center;
  line-height: 25px;
  padding: 0 10px;
}

header ul li:hover:not(:first-child) {
  color: #ccc;
  background-color: #989898;
  border: .5px solid #1B5F80;
  height: 21px;
  padding: 0 9px 3px;
}

header span {
  width: 280px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
}

header .nav-left {
  min-width: 120px;
  height: 100%;
  display: inline-block;
}

header .nav-left button {
  font-size: 13px;
  color: #989898;  
  background-color: #323233;
  border: none;
  width: 40px;
  height: 100%;
}

.nav-left button:active {
  border: none;
  outline: none;
}

header button:hover {
  background-color: #505050;
}

header button.times:hover {
  color: #fff;
  background-color: #D71526;
}

/*MAIN*/
main {
  width: 100%;
  height: calc(100vh - 45px);
}

aside {
  float: left;
}

aside nav.func-explorer {
  float: left;
  height: calc(100vh - 45px);
  width: 50px;
  background-color: #323233;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside nav.func-explorer ul {
  width: 100%;
  margin: 10px 0;
}

aside nav.func-explorer ul li {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 25px;
  color: #989898
}

aside nav.func-explorer ul li:hover {
  color: #fff;
}

aside nav.func-explorer ul li.selected {
  color: #fff;
}

aside nav.file-explorer {
  float: left;
  background-color: #252526;
  width: 150px;
  height: calc(100vh - 45px);
}

aside nav.file-explorer .explorer-title {
  color: #989898;
  font-size: 13px;
  width: 100%;
  height: 23px; 
  margin: 8px 8px 5px 8px;
}

.explorer-body {
  height: calc(100vh - 81px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.root:hover .icn-more {
  float: right;
  visibility: visible;
}

.root:hover .icn-more span:last-child {
  color: #FFF;
}

.root {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
  position: relative;
}

.root .chevron {
  color: #ccc;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 3px;
  position: relative;
  bottom: 3px;
}

.root:hover {
  flex-grow: 1;
}

.root:hover>.branches {
  visibility: visible;
  height: fit-content;
}

.root:hover> .chevron {
  transform: rotate(90deg);
}

.root:hover>span {
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.root>span {
  color: #ccc;
  padding: 0 3px; 
  display: inline-block;
}

.root .icn-more {
  visibility: hidden;
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.root .icn-more span {
  margin: 0 2px;
}

.root>.branches {
  z-index: 1;
  visibility: hidden;
  height: 0;
  /* height: fit-content; */
}

.branches ul {
  color: #989898;
  padding-left: 10px;
}

.branches ul {
  width: 100%;
}

.branches ul li {

}

.branches ul li a {

}

section {
  width: calc(100vw - 200px);
  height: 100%;
  font-size: 35px;
  color: #ccc;
  font-weight: 400;
  float: right;
}

.page-nav {
  height: calc(100% - 200px);
  background-color: #252526;
  padding-bottom: 200px;
}

.page-nav ul {
  position: relative;                       
}

.page-nav ul li {
  line-height: 30px;
  padding: 0 7px;
  box-sizing: border-box;
}

.page-nav ul:last-child li {
  position: relative;
}

.page {
  font-weight: 300;
  background-color: #1E1E1E;
  padding: 0;
  position: relative;
}

.page textarea:focus {
  outline: none;
}


/* Welcome Page Styles

section nav ul li .page h4 {
  font-weight: 300;
}

section nav ul li .page h5 {
  font-size: 24px;
  color: #989898;
  font-weight: 300;
  margin-bottom: 40px;
}

section nav ul li .page .content {
  height: 600px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: -40px;
}

.content-item {
  width: 662px;
  height: 200px;
}

.content-item.left {
  height: 300px;
}

.content-item h6 {
  font-size: 20px;
  color: #c7c7c7; 
  font-weight: 200;
  margin-bottom: 5px;
}

.content-item .link span {
  color: #3794ff;
}

.content-item .link>span {
  color: #989898;
  margin: 10px 10px 10px 0;
}

.content-item ul {
  font-size: 13px;
  color: #3794ff;
  font-weight: 100;
}

.content-item ul li p {
  color: #989898;
}

.content-item ul li a{
  color: #3794ff;
}

.content-item ul li a span{
  color: #c7c7c7;
}

.left ul {
  width: 662px;
  height: 250px;
  padding: 10px;
}

.left ul li {
  width: 590px;
  height: 65px;
  margin-bottom: 8px;
  background-color: #181819;
  padding: 12px 10px;
  box-sizing: border-box;
}

.left ul li:hover {
  background-color: #2A2D2E;
  cursor: pointer;
}

.page>span {
  font-size: 14px;
} */

.monitor-nav {
  margin-top: -200px;
  height: 42px;
  background-color: #1E1E1E;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: .3px solid #989898;
}

.monitor-nav ul {
  display: flex;
}

.monitor-nav ul li {
  padding: 0 8px;
}

.monitor-nav ul li button {
  color: #989898;
  background-color: #1E1E1E;
  border: none;
  padding: 11px 5px 24px;
}

.monitor-nav li button:focus {
  outline: none;
  color: #fff;
  text-decoration: underline #fff;
}

.issue-count {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 10px;
  color: #ccc;
  text-align: center;
  line-height: 14px;
  background-color: #505050;
  border-radius: 50%;
}

.terminal-keys {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.terminal-keys div {
  padding: 3px;
  margin: 0 6px;
}

.terminal-keys select {
  width: 180px;
  height: 22px;
  background-color: #323233;
  color: #989898;
}

.terminal-keys select:focus {
  border: .5px solid #3794ff;
}

.terminal-keys select:focus option {
  border: .5px solid #3794ff;
}

.terminal-keys option[selected="true"] {
  background-color: #1b5f80;
}


.terminal-keys option:hover {
  background-color: #1b5f80;
}

.popup-terminal {
  position: relative;
}

.popup-terminal div {
  position: absolute;
  top: 0;
}

.top {
  z-index: 1;
}

.popup-terminal textarea {
  padding: 5px;
}

.popup-terminal .problem {
  font-size: 15px;
  color: #ccc;
}

.problem textarea {
  border: 1px solid #1E1E1E;
  color: #c7c7c7;
  width: calc(100vw - 212px);
  height: 145px;
  background-color: #1E1E1E;
}

.problem textarea:focus {
  border: 1px solid #1E1E1E;
}

.popup-terminal .output {
  font-size: 17px;
  color: red;
}

.output textarea {
  border: 1px solid #1E1E1E;
  color: #c7c7c7;
  background-color: #1E1E1E;
  width: calc(100vw - 212px);
  height: 145px;
}

.popup-terminal .debug {
  font-size: 17px;
  width: calc(100vw - 212px);
  height: 145px;
}

.debug textarea {
  border: 1px solid #1E1E1E;
  width: calc(100vw - 212px);
  height: 145px;
  color: #c7c7c7;
  background-color: #1E1E1E;
}

.popup-terminal .terminal {
  font-size: 17px;
  color: #fff;
}

.terminal textarea {
  border: 1px solid #1E1E1E;
  width: calc(100vw - 212px);
  height: 145px;
  color: #c7c7c7;
  background-color: #1E1E1E;
}

.clearfix {
  clear: both;
}

footer {
  height: 20px;
  background-color: #007ACC;
  display: flex;
  justify-content: space-between;
}

footer .bottom-left, footer .bottom-right {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  margin: 0 10px;
}

.bottom-left>div {
  height: 17px;
  display: inline-flex;
}

.bottom-left>div:hover {
  background-color: #1F8AD2;
}

.bottom-left .status div {
  margin: 0;
}

footer .footer-icon {
  margin: 0 5px 0 5px;
}

footer .footer-icon.times {

}

.status span {
  padding-right: 5px;
}

.times+span {
  margin: 0;
}

.footer-icon.sync {
  margin-right: 10px;
}

footer .bottom-left  {
  margin-right: 10px;
}

.bottom-right:hover {
  background-color: #1F8AD2;
}